*{
	margin: 0;
	padding: 0;
	  outline: 0;
  /* Webkit fixes (Safari/Chrome) */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-border-radius: 0px;
  /* IE fixes */
  -ms-interpolation-mode: bicubic;
  -ms-text-size-adjust: 100%;
  /* Firefox fixes */
  -moz-border-radius: 0px;
  border-radius: 0px;
  -khtml-border-radius: 0px;
}

.header{
	width: 100%;
	height: 500px;
  max-width: 1920px;
  overflow: hidden;
}

.nav{
height: 60px;
width: 100%;
background-color: white;
max-width: 1920px;
display: flex;
}
.logo{
  font-family: "Lato";
  font-size: 26px;
  color: #757575;
  font-weight: lighter;
  margin: 20px;
}
.content{
  width: 100%;
  height: 1920px;
  background-color: #ececec;
  max-width: 1920px;
}


.content_top{
width: 100%;
margin: 0 auto;

}

.content_groups{
margin: 38px 3.5%;
width: 259px;
background: #fff;
padding-bottom: 30px;
margin-right: 0;
/* margin-left: 58px; */
/* margin-top: 38px; */
border: 1px solid #D1DAE1;
display: -moz-inline-box;
display: inline-block;
vertical-align: top;
}

.content_groups img{

max-width: 100%;

}
.content_groups h3{
  color: #5f96d7;
  margin: 20px 10px 10px 10px;
  font-family: "Lato";
  font-size: 20px;
}
time{
margin: 10px;
font-family: "Lato";
font-size: 18px;
color: #989898;
}

.content_groups p{
  color: #989898;
  margin: 20px 10px 10px 10px;
  font-family: "Arial";
  font-size: 20px;
}
a{
  margin: 16px 4px 4px 4px;
  width: 20px;
  height: 7px;
  text-decoration: none;
  color: #989898;
  font-size: 15px;
  font-family:Arial;
  border: 2px solid;
  padding: 3px;
  border-color: #989898;
  border-radius: 4px;
}
.buy{
  color: #c94d3f;
  font-family:Arial;
  font-size: 20px;
  font-weight: lighter;
  margin: 20px 10px 10px 10px;
  cursor: pointer;
}
.header_top #slides {
  top: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 537px;
  overflow: hidden;
}
.header_top #slides #slides_content {
  overflow: hidden;
  width: 100%;
}
.header_top #slides img {
  clear: both !important;
  display: none;
}
.header_top #slides img.active {
  display: block;
}


  #select{
    width: 200px;
    background-color: #fff;
    padding:15px 0 12px 6px;
    margin-left: 80px;
    font-size:24px;
    font-weight: lighter;
    border: 0;
    color:#989898;
    font-family: Arial;
    border-left: 1px solid;
     border-right: 1px solid;
  }

.nav img{
  height: 55px;
  width: 55px;
  margin-left: 400px;
}

.nav a{
  font-size: 22px;
  border: none;
  width: 160px;
  text-decoration: underline;
  color: black;
}